<head>
  <meta charset="UTF-8">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <h1>Tech Blog</h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Homepage</a>
                </li>
                <li>
                    <a href="/dashboard">Dashboard</a>
                </li>
                
                <li>
                    {{#if logged_in}}
                    <button type="submit" id="logout-btn">Logout</button>
                    {{else}}
                    <button type="submit" id="login-btn">Login</button>
                    {{/if}}
                </li>
            </ul>
        </nav>
    </header>
    <main>
        {{{ body }}}
    </main>
    <footer>
    </footer>
</body>
<script src="../../public/js/logout.js"></script>
</html>