{{#each posts as |post|}}
<div class="post-box">
    <div>
        <h2 class="post-title"><strong>{{post.title}}</strong></h2>
        <p>Created by: {{post.user.username}}</p>
    </div>
    <div>
        <div>
            <p>Content: {{post.content}}</p>
        </div>
    </div>
</div>

{{/each}}